*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;

}
.message-content{
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 20px;
}
.message-content-body{
  height: 100%;
  overflow-y: scroll;
  position: relative;
}