.mt-24{
    margin-top: 24px;
}
.massage-box{
    padding: 12px;
    background: #FFFFFF;
    min-width: 150px;
    border-radius: 16px 16px 0 16px;
    margin-top: 20px;
    border: 1px solid #000000;
    max-width: 200px;
    transform: translateX(1000%);
    transition-duration: 0.5s;
}
.message-text{
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
}
.text-green{
    color: green;
}
.text-red{
    color: red;
}
.text-blue{
    color: blue;
}
.message-content-body{
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}
.massage-box.msg-human{
    margin-left: auto;
    text-align: right;
    animation: .1s linear 0.3s forwards alternate move;
}
.massage-box.msg-robot{
 border-radius: 16px 16px 16px 0;
    animation: .1s linear 0.3s forwards alternate move;
}

@keyframes move {
    from{
        transform: translateX(1000%);
    }
    to{
        transform: translateX(0);
    }
}